/* APP */

.app-container {
  border: 2px black solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
}

/* APP */

/* UNIT TYPE */

.unitType-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 2em
}

.unitType {
  cursor: pointer;
}

.active-unitType {
  cursor: default;
  color: blue;
}

/* UNIT TYPE */

/* UNIT CONVERSION */

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3em;
}

.form-item {
  /* width: 10em; */
  width: 100%;
}

label, select {
  display: block;
}

select {
  width: 100%;
}

.flexy {
  display: flex;
  justify-content: space-between;
  gap: .3em;
  margin-bottom: .5em;
}

input {
  width: 100%;
  box-sizing: border-box;
}
.answer {
  text-align: center;
}

/* UNIT CONVERSION */